* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: rgb(64, 162, 119); */
  background: linear-gradient(
    217deg,
    rgba(64, 162, 119, 1) 3%,
    rgba(237, 130, 192, 1) 71%
  );
}

header {
  height: 150px;
  width: 100%;
  background-color: #d94f9f;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #511136;
  box-shadow: 0px 0px 5px #511136;
  font-size: 32px;
  color: #511136;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 170px 15px 25px 15px;
  width: 90%;
  height: 800px;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 100%;
  color: #260216;
}

.text-container > h1 {
  font-weight: bold;
}

.text-container > p {
  font-weight: 500;
}

.link-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.link-btn-container > a {
  text-decoration: none;
}

.img-link {
  height: 100%;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 1s ease-out 100ms;
  border: 1px solid #8bc09c;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.1);
}

.img-link > img {
  max-height: 100%;
  max-width: 100%;
}

.text-link {
  cursor: pointer;
}

.img-link:hover {
  border: 1px solid #2ef9d8;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.6);
}

footer {
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background-color: #511136;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8bc09c;
}

footer > a {
    margin-left: 3px;
    color: blue;
}

button {
  height: 50px;
  width: 190px;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #d94f9f;
  border-radius: 25px;
  background-color: transparent;
  color: #511236;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out 100ms;
}

button > span {
  position: absolute;
  top: 0px;
  left: -190px;
  height: 50px;
  width: 190px;
  background-color: #60d6e1;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

button:hover > span {
  -webkit-transform: translateX(190px);
  -moz-transform: translateX(190px);
  -o-transform: translateX(190px);
  -ms-transform: translateX(190px);
  transform: translateX(190px);
}
button:hover {
  border: 2px solid #f264b7;
  box-shadow: 0px 0px 10px #51113699;
}

.animation-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
}

.bottle-container {
  height: 200px;
  transform: rotate(-163deg);
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0px;
}

.beer-container {
  height: 200px;
}

.drop-container {
  height: 30px;
  width: 20px;
  position: absolute;
  top: 195px;
  right: 113px;
  display: none;
  opacity: 0;
}

.animation-container:hover > .drop-container {
  display: block;
  opacity: 1;
  animation: drop 3s infinite ease-in;
}

@keyframes drop {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(385px);
  }
}

@media only screen and (max-width: 770px) {
    .animation-container {
        display: none;
        opacity: 0;
    }
    main {
        flex-direction: column;
        justify-content: center;
        height: 1300px;
    }    
    .text-container {
        width: 90%;
    }
}
